.app {
    display: flex;
}


.content {
    margin-left: 240px;
    flex-grow: 1;
    padding: 20px;
}


@media only screen and (max-width: 768px) {

    .content {
        margin-left: 0;
        padding: 20px;
        overflow-x: auto; 
    }

}

@media only screen and (min-width: 768px) {

    .content {
        margin-left: 240px;
        padding: 20px;
        overflow-x: auto; 
    }

}