.app {
    display: flex;
}


.content {
    margin-left: 240px;
    flex-grow: 1;
    padding: 20px;
}

@media only screen and (max-width: 576px) {

    .content {
        margin-left: 60px;
        flex-grow: 1;
        padding: 20px;
    }

}