.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.titleText {
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--Negro, #1B1B1B);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.notifIcon{
    width: 59px;
    height: 59px; 
}


@media only screen and (max-width: 576px) {

    .notifIcon{
        width: 49px;
        height: 49px; 
    }

}

@media only screen and (max-width: 768px) {

    .notifIcon{
        width: 49px;
        height: 49px; 
    }

}

@media only screen and (max-width: 1200px) {

    .notifIcon{
        width: 49px;
        height: 49px; 
    }

}