.sidebar {
    position: fixed;
    width: 240px;
    height: 100vh;
    background-color: #1A3D7D;
    color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-height: 40px;
    padding: 10px 10px;
    border-radius: 5px;
}

.btnSelected {
    background-color: #FFF;
    color: #222 !important;
    border-radius: 5px;
}

.btn:hover {
    background-color: #153063;
    /* Cambia esto al color que desees */
}

.btnSelected:hover {
    background-color: #FFF;
    /* Cambia esto al color que desees */
}

.btnTextSelected {
    margin: 0;
    color: #222 !important;
}

.btnIcon {
    margin-right: 15px;
    max-width: 24px;
    max-height: 24px;
}

.btnText {
    margin: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sidebarMobile {
    display: none;
}

@media only screen and (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .sidebarMobile {
        display: block;
        position: fixed;
        width: 60px;
        height: 100vh;
        background-color: #1A3D7D;
        color: white;
        padding: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
    }

    .bars {
        margin-top: 25px;
        width: 20px;
        height: 20px;
    }

    .itemsMobile {
        width: 20px;
        z-index: 2;
    }

    .menu {
        display: block;
        position: fixed;
        width: 240px;
        height: 100vh;
        background-color: #1A3D7D;
        color: white;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }



}
